# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
html/carte_test.html

MANIFEST

logs/
data/

# Virtual environments
.venv/
venv/


# Project specific
*.geojson
*.html
*.csv
cache/
*.log
